@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.card {
  max-width: 925px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 8px;
  overflow: hidden;
  margin: 80px 20px;
  position: relative;
  top: 20px;
}
.card .box {
  padding: 50px;
}

.card .box p:first-of-type {
  font-family: "Big Shoulders", sans-serif;
  text-transform: uppercase;
  color: var(--very-light-gray);
  margin: 30px 0;
  font-weight: 500;
  font-size: 42px;
}
.card .box p:nth-of-type(2) {
  color: var(--transparent-white);
  line-height: 1.7;
  margin-bottom: 80px;
  font-size: 15px;
}
.card .box p:last-of-type {
  background-color: var(--very-light-gray);
  border-radius: 100px;
  padding: 12px 28px;
  text-transform: capitalize;
  text-align: center;
  width: fit-content;
  border: 2px solid transparent;
  transition: 0.3s;
}

.card .box:nth-child(1) {
  background-color: var(--bright-orange);
}
.card .box:nth-child(1) p:last-of-type {
  color: var(--bright-orange);
}
.card .box:nth-child(2) {
  background-color: var(--dark-cyan);
}
.card .box:nth-child(2) p:last-of-type {
  color: var(--dark-cyan);
}
.card .box:nth-child(3) {
  background-color: var(--very-dark-cyan);
}
.card .box:nth-child(3) p:last-of-type {
  color: var(--very-dark-cyan);
}
.card .box p:last-of-type:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--very-light-gray);
  color: var(--very-light-gray);
}
@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    top: 0;
  }
  .card .box p:nth-of-type(2) {
    margin-bottom: 30px;
  }
}
